.rounded-button {
  width: 200px;
  padding: 10px;
  border-radius: 20px;
  font-family: cursive;
  font-weight: 700;
  color: white;
  text-decoration: none;
  background-color: rgb(170, 23, 200);
  border: none;
  height: 40px;
  outline: none;
}